<!DOCTYPE html>
{% extends 'Index.html' %}
{% load static %}

<html lang="en">
  {% block content %}
  <div class="container-fluid" id="about1" >
    <div class="row">
      
      <div class="col-12 col-md-6 " id="text" data-aos="flip-up" data-aos-duration="1000" data-aos-once="true">
        <h1>OUR MISSION</h1>
        <h3>WE BELIEVE IN</h3>
        
        <p>We celebrate the connection between the mind, body and home and aim to create a sanctuary in all three.</p>
        <p>Mental wellbeing is at the heart of our brand and we believe that by developing daily rituals, along with a healthy living space that encourages mindful practice, we all have the power to completely change our lives. Our product range has been thoughtfully designed and curated with this in mind, from our meditation cushion sets to our natural candles. For a more personal experience, we offer ‘Pop Up Sanctuary’ events and a home wellbeing design service.</p>
      </div>
      <div class="col-12 col-md-6" data-aos="flip-up" data-aos-duration="1000" data-aos-once="true">
        <img src="{% static 'Images/about1.png' %}" alt=""></div>
    </div>
  
  </div>
<H1 class="px-0" id="abouthead">YOUR OUTER WORLD IS A</H1>
<H1 class="px-0" id="abouthead"> MIRROR OF YOUR INNER WORLD</H1>
<div class="container-fluid" id="about">
  <div class="row">
    <div class="col-12 col-md-6 px-20"  data-aos-duration="1000" data-aos-once="true">
      <img src="{% static 'Images/about2.png' %}" alt=""></div>
    <div class="col-12 col-md-6 px-0" id="text"   data-aos-duration="1000" data-aos-once="true">
      <h1>GIVING BACK</h1>
      <h3>OUR ETHICAL ETHOS</h3>
      
      <p>During the Winter months, for every transaction made through our website, we will provide a warm blanket and a hot meal for somebody who needs it.</p>
      <p>This means that whenever you buy something for your own Sanctuary, you’ll be supporting somebody who doesn’t currently have one.</p>
      <p>All the meals are prepared and served by Refugee Community Kitchen, who provide delicious, nutritious and healthy food for anyone who needs it, both in the UK and France.</p>
    </div></div>
</div>

<div class="container-fluid" id="about"   data-aos-duration="1000" data-aos-once="true">
  <div class="row">
    
    <div class="col-12 col-md-6 " id="text"  data-aos-duration="1000" data-aos-once="true">
      <h1>WHO WE ARE</h1>
      <h3>TEAM BOHÈME</h3>
      
      <p>Founder, Jo, is a qualified meditation, yin yoga and sister circle facilitator and is currently studying to become a mind-body practitioner. With a working background as an Interior Stylist and having renovated several properties, House of Boheme combines her two main passions of wellbeing and home design.</p>
      <p>Alongside Jo, is a small team of wonderful people who help with all aspects of the business, from event bookings to wellness hosts. Feel free to get in touch if you feel you have something to offer and would like to join our little Boheme family.</p>
    </div>
    <div class="col-12 col-md-6 "  data-aos-duration="1000" data-aos-once="true">
      <img src="{% static 'Images/about3.png' %}" alt=""></div>
  </div>

</div>


<div class="container-fluid" id="about" >
  <div class="row">
    <div class="col-12 col-md-6 px-20" data-aos-duration="1000" data-aos-once="true">
      <img src="{% static 'Images/about4.png' %}" alt=""></div>
    <div class="col-12 col-md-6 px-0" id="text"  data-aos-duration="1000" data-aos-once="true">
      <h1>GIVING BACK</h1>
      <h3>OUR ETHICAL ETHOS</h3>
      
      <p>During the Winter months, for every transaction made through our website, we will provide a warm blanket and a hot meal for somebody who needs it.</p>
      <p>This means that whenever you buy something for your own Sanctuary, you’ll be supporting somebody who doesn’t currently have one.</p>
      <p>All the meals are prepared and served by Refugee Community Kitchen, who provide delicious, nutritious and healthy food for anyone who needs it, both in the UK and France.</p>
    </div></div>
</div>


</body>
</html>
{% endblock %}