<!DOCTYPE html>
{% extends 'Index.html' %}
{% load static %}
<html lang="en">
{% block content %}
<body class="shkence">
 <div class="container contact-pjesa1 text-center">
            <h4>CONTACT</h4>
        <hr>
        <h5>TEAM@THEHOUSEOFBOHEME.COM</h5>
        <p>For all enquiries including collaborations, PR, events and retreat bookings, please email us or complete the form below.</p>
        </div>
        <div class="container contact-hero text-center">
            <form method="POST" id="orderForm">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" id="name" name="name" required>
                    <label for="name"><i class="fa-regular fa-user"></i> Your Name</label> 
                </div>
                <div class="input-group">
                    <input type="email" id="email" name="email" required>
                    <label for="email"><i class="fa-regular fa-envelope"></i> Your Email</label> 
                </div>
                <div class="input-group">
                    <input type="text" id="subject" name="subject" required>
                    <label for="subject"><i class="fa-solid fa-heading"></i> Subject</label> 
                </div>
                <div class="input-group">
                    <textarea name="message" id="message"  rows="8"></textarea>
                    <label for="message"><i class="fa-regular fa-comments"></i> Your Message</label> 
                </div>
                <div class="contact-button text-center ">
                    <input type="submit" class="button" id="button" value="GET IN TOUCH"> 
                </div>
            </form>

        </div>
        <!-- <div class="container ">
            <form method="POST" id="orderForm">
                {% csrf_token %}
                <div class="col contact contact-name-email">
                        
                    <label for="Name">Name*</label>
                    <input type="text"  id="'name" name="name"  required>
                
                    <label for="Email">Email*</label>
                    <input type="email"  id="'name" name="email"  required>
                </div>
                <div class="contact contact-subject">
                    <label for="Subject">Subject*</label>
                    <input type="text"  id="'name" name="subject"  required>
                </div>
                <div class="contact contact-subject ">
                    <label for="Message">Message</label> -->
                    
                    <!-- <div class="inputbox" >
                        <textarea placeholder="Your Message" name="message"></textarea>
                       </div>
                </div>
                <div class="contact-button text-center ">
                    <input type="submit" class="button" id="button" value="GET IN TOUCH"> 
                </div>

            </form>
        </div>   -->

 
</body>
</html>
{% endblock %} 
