<!DOCTYPE html>
{% load static %}

 <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active">   <div class="row">
      <div class="col-12 col-md-6"><img src="{% static 'Images/111-removebg-preview.png' %}" class="d-block" alt="..." id="contentimg">
      </div> 
      <div class="col-12 col-md-6">
        <div class="card" >
          <div class="card-body">
            <h4 class="card-title">THE ATLAS CANDLE</h4>
            <h6 class="card-subtitle mb-2 text-muted">19.99$</h6>
            <p class="card-text">With a unique , away from the stresses of everyday life, to a warm and comforting place.</p><hr>
            <button type="button" class="collapsible">DETAILS</button>
            <div class="collapsiblecontent">
              <ul>
                <p>Hand poured in London, using eco-friendly soy wax and cotton wicks</p>
                <p>200ml - 50 hour burn time</p>
              </ul>
              </div>
            <button type="button" class="collapsible">SCENTS</button>
            <div class="collapsiblecontent">
                 <ul>
                  <li>Top : Peach,Plum</li>
                  <li>Heart: Peony,Violet</li>
                  <li>Base: Leather,Patchouli,Vanila</li>
                 </ul>
            </div>
            <button type="button" class="collapsible">HOW TO USE</button>
            <div class="collapsiblecontent"><ul>
                 <p>Trim the candle wick to 1cm before each use</p>
                 <p>Keep lit candle out of the reach of children and pets</p></ul>
            </div>
           <button class="card-link"><a href="#" class="card-link">Order Now</a></button>
           
          </div>
        </div>
      </div>
    </div>
  
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-12 col-md-6"><img src="{% static 'Images/444-removebg-preview.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="col-12 col-md-6">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">MEDITATION SEAT & MINDFULNESS CUSHION</h4>
              <h6 class="card-subtitle mb-2 text-muted">£135.00</h6>
              <p>Our Mindful Rituals Set contains our large square Mindful Rituals Cushion and our round Meditation Seat.</p>
              <button type="button" class="collapsible">DETAILS</button>
              <div class="collapsiblecontent">
                <ul>
                  <li class="card-text">Our beautifully crafted round Meditation Seat has been created from natural materials.</li><hr>
                  <li>The removable outer layer is a jute and organic cotton blend</li>
                  <li>The organic cotton inner is filled with 100% organic buckwheat hulls.</li>
                </ul>
              </div>
              <button type="button" class="collapsible ">SCENTS</button>
              <div class="collapsiblecontent">
                   <ul>
                    <li>Top : Peach,Plum</li>
                    <li>Heart: Peony,Violet</li>
                    <li>Base: Leather,Patchouli,Vanila</li>
                   </ul>
              </div>
              <button type="button" class="collapsible">DETAILS</button>
              <div class="collapsiblecontent">
                   <p>qua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
             <button class="card-link"><a href="#" class="card-link">Order Now</a></button>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-12 col-md-6"><img src="{% static 'Images/333-removebg-preview.png' %}" class="d-block w-100" >
        </div>
        <div class="col-12 col-md-6">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">THE ATLAS CANDLE</h4>
              <h6 class="card-subtitle mb-2 text-muted">19.99$</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><hr>
              <button type="button" class="collapsible" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">DETAILS</button>
              <div class="collapsiblecontent">
                   <p>qua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <button type="button" class="collapsible">SCENTS</button>
              <div class="collapsiblecontent" aria-labelledby="panelsStayOpen-headingOne">
                   <ul>
                    <li>Top : Peach,Plum</li>
                    <li>Heart: Peony,Violet</li>
                    <li>Base: Leather,Patchouli,Vanila</li>
                   </ul>
              </div>
              <button type="button" class="collapsible">DETAILS</button>
              <div class="collapsiblecontent">
                   <p>qua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
             <button class="card-link"><a href="#" class="card-link">Order Now</a></button>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 