<!DOCTYPE html>
{% load static %}
<div class="container-fluid text-center" id="description">
  <div class="row">
    <div class="col-12 col-md-6 px-0">
      <img src="{% static 'Images/1676022023325.jpg' %}" alt="">
    </div>
    <div class="col-12 col-md-6"><br>
     <h3>Earl of East</h3>
     <h3>X</h3>
     <H1>HOUSE OF BOHEME</H1>
     <p>Our candles are made in collaboration with Earl of East. The London based fragarence specialissts. Learn how to make your own candles in one of their exclusive cnadle making workshops. Take home your very own candle to enjoy.</p>
      <button class="shembull" id="Order"><link rel="stylesheet" href="#">Order now</button>
    </div>
  </div>
</div>
